.bgimage {
    background-image: url('/src/assets/images/bgpic.png');
    background-size: cover;
    width: 100%;
    height: 100vh;
    margin-bottom: 100px;
}

@media (max-width: 768px) {
    .bgimage {
        height: 28vh;
        margin-bottom: 2%;
    }
}

